services:

  prometheus:
    image: prom/prometheus:v3.7.3
    volumes:
      - "./prometheus:/etc/prometheus"
      - "prometheus-data:/prometheus"
    command:
      - "--config.file"
      - "/etc/prometheus/config.yaml"
    ports:
      - "9090:9090"

  alert-manager:
    image: prom/alertmanager:v0.29.0
    ports:
      - "9093:9093"
    volumes:
      - "./alertmanager:/etc/alertmanager"
      - "alertmanager-data:/alertmanager"
    command:
      - "--config.file"
      - "/etc/alertmanager/config.yaml"
      - "--log.level"
      - "debug"
    secrets:
      - pagerduty_integration_key

  grafana:
    image: grafana/grafana:12.4.0-19363970803-ubuntu
    volumes:
      - "grafana-data:/var/lib/grafana"
      - "./grafana:/etc/grafana"
    ports:
      - "3000:3000"

  node-exporter:
    image: prom/node-exporter:v1.10.2
    command:
      - "--path.rootfs"
      - "/host"
    pid: host
    volumes:
      - "/:/host:ro"
    ports:
      - "9100:9100"

  web-app:
    build: ./webapp
    ports:
      - "8000:8000"


volumes:
  prometheus-data:
  alertmanager-data:
  grafana-data:


secrets:
  pagerduty_integration_key:
    environment: PAGERDUTY_INTEGRATION_KEY
