services:

  prometheus:
    image: prom/prometheus:v3.7.3
    volumes:
      - "./prometheus:/etc/prometheus"
      - "prometheus-data:/prometheus"
    command:
      - "--config.file"
      - "/etc/prometheus/config.yaml"
    ports:
      - "9090:9090"

  alert-manager:
    image: prom/alertmanager:v0.29.0
    ports:
      - "9093:9093"
    volumes:
      - "./alertmanager:/etc/alertmanager"
      - "/run/secrets:/run/secrets"
    command:
      - "--config.file"
      - "/etc/alertmanager/config.yaml"
    secrets:
      - pagerduty_integration_key

  node-exporter:
    image: prom/node-exporter:v1.10.2
    command:
      - "--path.rootfs"
      - "/host"
    pid: host
    volumes:
      - "/:/host:ro"
    ports:
      - "9100:9100"


volumes:
  prometheus-data:


secrets:
  pagerduty_integration_key:
    environment: PAGERDUTY_INTEGRATION_KEY
