[project]
name = "webapp"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastapi>=0.121.2",
    "prometheus-fastapi-instrumentator>=7.1.0",
    "uvicorn>=0.38.0",
]
